:root {
    --primary: #243a76;
    --primary-dk: #121e3b;
    --primary-lt: #50588a;
    --secondary: #ff7300;
    --secondary-dk: #ff4e00;
    --secondary-lt: #ff8f28;
    --successful: #2d9834;
    --white: #fff;
    --light: #f5f5f5;
    --flash: #e1e1e1;
    --gray: #a1a1a1;
    --dark: #999;
    --darkness: #444;
    --black: #111;

    --font: 'Roboto', sans-serif;

    --shadow: rgba(11, 11, 11, 0.1);
    --trans: all 350ms ease-in-out;

    --left: 240px;
    --right: 240px;

    --nav-w: 280px;

    --small-padding: 8px;
    --middle-padding: 16px;
    --large-padding: 32px;

}

*,
:before,
:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
}

html,
body {
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f8f8;
    font-family: var(--font);
    color: var(--darkness);
    scrollbar-color: #999 #d1d1d1;
    scrollbar-width: thin;
    overflow-x: hidden;
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: var(--middle-padding);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 2px;
    background-color: #d1d1d1;
}

::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
}

figure {
    padding: 0;
    margin: 0;
    border: 0;
}

b,
strong {
    font-weight: 500
}

.form-control {
    display: block;
    width: 100%;
    padding: 12px 10px;
    line-height: 1.2857143;
    background-color: var(--white);
    background-image: none;
    border: 1px solid var(--flash);
    border-radius: 3px;
    font-size: 16px;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    outline: 0;
    border: 1px solid var(--primary);
}

.form-control::-webkit-input-placeholder {
    color: var(--gray);
    opacity: 1;
}

.form-control::-moz-placeholder {
    color: var(--gray);
    opacity: 1;
}

.form-control::-ms-input-placeholder {
    color: var(--gray);
    opacity: 1;
}

.form-control::placeholder {
    color: var(--gray);
    opacity: 1;
}

a {
    color: var(--primary);
    text-decoration: none;
    border: none;
    outline: 0;
    cursor: pointer;
    transition: var(--trans);
}

a:hover {
    color: var(--secondary);
}

img {
    max-width: 100%;
    object-fit: contain;
    border: none;
    display: block;
}

.button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    padding: 12px 20px;
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-family: inherit;
    -webkit-appearance: none;
    line-height: 1;
    cursor: pointer;
    outline: none;
    user-select: none;
    background-color: var(--white);
    color: var(--dark);
    font-weight: 500;
}

.button:hover {
    outline: none;
}

.primary {
    color: var(--white);
    background-color: var(--primary);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.primary:hover {
    color: var(--white);
    background-color: var(--primary-dk)
}

.secondary {
    color: var(--white);
    background-color: var(--secondary);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.secondary:hover {
    color: var(--white);
    background-color: var(--secondary-dk);
    border-color: var(--secondary-dk);
}

.success {
    color: var(--white);
    background-color: var(--successful);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.success:hover {
    background-color: #15bb5f;
    color: #fff;
}

.danger,
.danger:hover {
    color: var(--white);
    background-color: #ff3f3f;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.warning {
    color: var(--white);
    background-color: #ffa800;
    border-color: #ffa800;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.warning:hover {
    color: var(--white);
    background-color: #e69700;
    border-color: #e69700;
}

.dark {
    color: var(--white);
    background-color: #444;
    border-color: #444;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dark:hover {
    color: var(--white);
    background-color: #222;
    border-color: #222;
}

select {
    background-color: var(--white);
    padding: 12px 20px;
    border: 1px solid var(--flash);
    border-radius: 4px;
    display: inline-block;
    font-size: 16px;
    padding: var(--small-padding) 10px;
    width: 100%;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #aaa, #aaa);
    background-position: calc(100% - 20px) var(--middle-padding), calc(100% - var(--middle-padding)) var(--middle-padding), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px calc(100% - var(--middle-padding));
    background-repeat: no-repeat;
}

select:focus {
    background-image: linear-gradient(45deg, green 50%, transparent 50%), linear-gradient(135deg, transparent 50%, green 50%), linear-gradient(to right, #aaa, #aaa);
    background-position: calc(100% - var(--middle-padding)) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    outline: 0;
    border-color: #a397e1;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    box-shadow: 0 0 0 0.2rem #a397e1;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

textarea {
    font-family: var(--font);
}

.label {
    display: block;
    width: 100%;
}

.default-loading {
    width: 20px;
    height: 20px;
    border-radius: 24px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    position: relative;
    margin: 0;
    display: none;
}

.default-loading::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 20px;
    height: 20px;
    border-radius: 24px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.8) transparent;
    animation: lds-dual-ring 800ms linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

ul {
    padding-left: 20px;
}

.breadcrumb {
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0;
}

.breadcrumb li + li::before {
    content: "/";
    color: var(--gray-md);
    margin: 0 7px;
}

.breadcrumb li:last-child,
.breadcrumb .active a {
    color: var(--gray-dk);
    cursor: default;
}

.breadcrumb-item {
    display: inline-block;
    padding: 3px 5px;
}

.pagination-box {
    border-top: 2px solid #eee;
    margin: 25px auto 35px;
    padding-top: 25px;
}

.pagination {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.pagination li a {
    padding: 10px 0;
    border-radius: 3px;
    font-weight: 500;
}
.pagination .current a {
    background-color: var(--primary);
    cursor: default;
    color: var(--white);
}

.pagination li span {
    font-size: 14px;
}

.site-w {
    max-width: 1600px;
    width: 100%;
    padding-left: var(--large-padding);
    padding-right: var(--large-padding);
    margin: 0 auto;
}

.site-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-b {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.flex-w {
    flex-wrap: wrap;
}

.flex-dc {
    flex-direction: column;
}

.flex-dc-re {
    flex-direction: column-reverse;
}

.flex-dr-re {
    flex-direction: row-reverse;
}

.flex-c {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-e {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.flex-s {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.align-c {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.align-s {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.column {
    flex-direction: column;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-success {
    color: #1cbc6b;
    background-color: #f3fff8;
    border-color: #77c384;
}

.alert {
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 5px;
    border: 1px solid transparent;
}

.sticky {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

.shadow {
    box-shadow: 0 0 3px var(--shadow)
}

.hidden,
hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
}


.radio-input,
.checkbox-input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.input-type-radio {
    width: 18px;
    height: 18px;
    display: block;
    border-radius: 16px;
    border: 2px solid var(--dark);
    position: relative;
    transition: var(--trans)
}

.input-type-checkbox {
    width: 18px;
    height: 18px;
    display: block;
    border: 2px solid var(--flash);
    position: relative;
    border-radius: 3px;
    transition: var(--trans)
}

.checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.checkbox-label + .checkbox-label {
    margin-top: var(--middle-padding);
}

.checkbox-label span {
    padding-left: 7px;
    padding-right: 7px;
}

.input-type-radio::before {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    width: 8px;
    height: 8px;
    border-radius: 8px;
    opacity: 0;
    background-color: var(--dark);
}

.input-type-checkbox::after,
.input-type-checkbox::before {
    content: "";
    width: 2px;
    height: 10px;
    display: block;
    background-color: var(--primary);
    position: absolute;
    opacity: 0;
}

.input-type-checkbox::after {
    transform: rotate(45deg);
    top: 3px;
    left: 8px;
}
.input-type-checkbox::before {
    transform: rotate(-45deg);
    top: 7px;
    left: 4px;
    height: 5px;
}

.checkbox-input:checked ~ .input-type-checkbox {
    border-color: var(--primary);
}

.checkbox-input:checked ~ .input-type-checkbox::after,
.checkbox-input:checked ~ .input-type-checkbox::before {
    opacity: 1
}


.radio-input:checked ~ .input-type-radio {
    border-color: var(--primary);
}

.radio-input:checked ~ .input-type-radio::before {
    background-color: var(--primary);
    opacity: 1;
}

.saleoff-icon {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    color: var(--white);
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 500;
    position: absolute;
    top: 10px;
    right: 10px;
}


.choose-image input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}


@media (max-width: 780px), (max-width: 990px) and (orientation:landscape) {
    .is-desktop {
        display: none !important;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .site-w {
        padding-left: var(--small-padding);
        padding-right: var(--small-padding);
    }
}
@media (min-width: 780px) and (orientation:portrait), (min-width: 990px) {
    .is-mobile {
        display: none !important;
    }
}
